# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
*.snupkg

# Temporary / Misc
~$*
*~
CodeCoverage/
*.binlog

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

# User / IDE-specific files
.vs/
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core environment files (não versionar configs locais)
appsettings.json
appsettings.*.json
secrets.json

# Local database files
*.mdf
*.ldf
*.sqlite

# Local history (VSCode, Rider)
.localhistory/

# Azure function artifacts
.local/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
